/*  your css code here. If applicable */
.main-container{
	background-color:#f5f5f5;
	border:1px solid;
	padding:20px;
}
.testimonial-container{
	background-color:white;	
	padding:10px;
	margin:10px;
}

.text-right{
	text-align:right;
	font-style:italic;
}
